/* Переменные */
:root {
  --main-fond: Roboto, sans-serif;
  --secondari-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --text-color: #757575;
  --title-color: #212121;
  --color1: #ffffff;
  --color2: #000000;
  --adress-color: rgba(255, 255, 255, 0.6);
  --botton-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --botton-accent-color: #188ce8;
}
/* Конец Переменные */
/* Глобальный  border-box*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Конец глобальный  border-box*/

/* Базовый сброс */
.link {
  text-decoration: none;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}
/* Конец базовый сброс */

body {
  font-family: var(--main-fond);
  background-color: var(--color1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Начало модальное окно */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  /* z-index: 2; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: var(--color1);
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/* Кнопка закрытия */
.button-modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 1; */
  margin: 8px 8px;

  cursor: pointer;
}
.modal-icon-close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:focus .modal-icon-close,
.button-modal-close:hover .modal-icon-close {
  fill: var(--accent-color);
}

/* Форма модального окна */
.title-modal-form {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form-modal {
  width: 100%;
  height: 100%;

  padding: 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 12px 12px 12px 42px;

  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-field label {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field-coment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field-coment label {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field-coment textarea {
  resize: none;
  margin: 0;
  padding: 12px;

  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-coment textarea:focus {
  border-color: var(--accent-color);
}

.form-field-coment textarea::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-policy {
  display: flex;

  margin-bottom: 30px;
}

.checkbox {
  /* Скрываем чекбокс */
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-field-policy {
  position: relative;
}
.label-checkbox {
  display: flex;
  align-items: center;

  margin-left: 22px;
  margin-right: 8px;
  padding: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.modal-icon-checkbox {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #212121;
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--color1);
}

.checkbox:checked + .modal-icon-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.link-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.button-modal-submit {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--color1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-submit:hover,
.button-modal-submit:focus {
  background-color: var(--botton-accent-color);
}
/* Конец модальное окно */
/* header */
/* Логотип */
.header {
  border: 1px solid #ececec;
}
.logo {
  font-family: var(--secondari-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-studio-header {
  color: var(--color2);
}
.logo-studio-footer {
  color: var(--color1);
}

/* Навигация */
.navigation-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .link.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
}
/* Телефон и mail */
.header-icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kontakt-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus,
.kontakt-link:hover,
.kontakt-link:focus {
  color: var(--accent-color);
}
.kontakt-link:hover .header-icon-smartphone,
.kontakt-link:focus .header-icon-smartphone,
.kontakt-link:hover .header-icon-mail,
.kontakt-link:focus .header-icon-mail {
  fill: var(--accent-color);
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation-list .navigation-item:not(:first-child) {
  margin-left: 50px;
}

.kontakt-list {
  display: flex;
}
.kontakt-list .kontakt-item:not(:first-child) {
  margin-left: 50px;
}

.container-header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
/* Конец header */

/* main index.html*/
.section-hero {
  /* min-height: 600px; */
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/main/Img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-hero {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color1);
}

.title-feature {
  margin-top: 0px;
  margin-bottom: 10;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.text-feature {
  width: 270px;
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.properties-box-ikon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--botton-background-color);
  margin-bottom: 30px;
}
.properties-icon-antenna {
  display: block;
  width: 70px;
  height: 70px;
  fill: var(--title-color);
}

.container-propertis {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-properties .properties-item:not(:first-child) {
  margin-left: 20px;
}

.list-properties {
  display: flex;
}

/* Начало employment */
.list-employment .item-employment:not(:first-child) {
  margin-left: 30px;
}
.container-employment {
  padding-bottom: 94px;
}

.list-employment {
  display: flex;
  justify-content: center;
}
.item-employment {
  position: relative;
  z-index: 1;
}
.title-employment,
.title-team {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.title-img-employment {
  position: absolute;
  /* z-index: 1; */
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color1);
}

/* Конец employment */

.item-team {
  background: var(--color1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-team .item-team:not(:first-child) {
  margin-left: 30px;
}

.list-team {
  display: flex;
  justify-content: center;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}
.title-workman {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.box-workman {
  width: 270px;
  padding: 30px 32px;

  /* background: var(--color1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; */
}
.img-workman {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-workman {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.list-social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 16px;
  padding-bottom: 0;
}
.svg-social {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-social:not(:first-child) {
  margin-left: 10px;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--color1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: var(--accent-color);
}
.link-social:hover .svg-social,
.link-social:focus .svg-social {
  fill: var(--color1);
}
/* Кнопка */
.button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--color1);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--botton-accent-color);
}
/* Начало секция Постоянные клиенты */
.sektion-klient {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-klient {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-top: 0;
  margin-bottom: 50px;
}
.svg-icon-logo-1 {
  width: 44px;
  height: 49px;
}
.svg-icon-logo-2 {
  width: 40px;
  height: 52px;
}
.svg-icon-logo-3 {
  width: 41px;
  height: 43px;
}
.svg-icon-logo-4 {
  width: 80px;
  height: 42px;
}
.svg-icon-logo-5 {
  width: 59px;
  height: 47px;
}
.svg-icon-logo-6 {
  width: 88px;
  height: 45px;
}

.svg-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-klient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: var(--color1);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-klient {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0;
}

.item-klient:not(:first-child) {
  margin-left: 30px;
}

.link-klient:hover,
.link-klient:focus {
  border: 1px solid var(--accent-color);
}
.link-klient:hover .svg-icon,
.link-klient:focus .svg-icon {
  /*  */
  fill: var(--accent-color);
}

/* Конец секция Постоянные клиенты */
/*Конец main index.html*/

/* footer */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.address-footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}

.address-00-footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color1);
}
/* 
.address-footer-link:hover,
.address-footer-link:focus,
.address-00-footer-link:hover,
.address-00-footer-link:focus {
  color: var(--accent-color);
} */

.box-social-footer {
  margin-left: 70px;
}
.title-social-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color1);

  margin-top: 0;
  margin-bottom: 0;
}

.list-social-footer {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
  padding-bottom: 0;
}
.svg-social-footer {
  width: 20px;
  height: 20px;
  fill: var(--color1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-social-footer:not(:first-child) {
  margin-left: 10px;
}

.link-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: var(--accent-color);
}
.link-social-footer:hover .svg-social-footer,
.link-social-footer:focus .svg-social-footer {
  fill: var(--color1);
}
/* Форма footer */
.box-form-footer {
  margin-left: 93px;
}
.text-form-footer {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.form-footer {
  display: flex;
}
.input-form-footer {
  min-width: 350px;
  min-height: 50px;
  margin-right: 12px;
  padding: 15px 16px 15px 16px;

  color: var(--color1);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form-footer:focus {
  border-color: var(--accent-color);
}

.form-footer input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.button-form-footer {
  position: relative;
  min-width: 200px;
  min-height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  /* text-align: center; */
  letter-spacing: 0.06em;

  color: var(--color1);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form-footer:hover,
.button-form-footer:focus {
  background-color: var(--botton-accent-color);
}

.svg-icon-send {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--color1);
}

/* Конец footer */

/* main portfolio.html*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-nav-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.list-nav-portfolio .nav-potfolio-item:not(:first-child) {
  margin-left: 8px;
}

.title-project {
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.link-direction-item {
  display: block;
}
.list-project-direction {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -30px;
  margin-top: -30px;
}

.project-direction-item {
  flex-basis: calc((100% - 90px) / 3);

  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-left: 30px;
  margin-top: 30px;
}
.link-project-direction {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-project-direction:focus,
.link-project-direction:hover {
  /* border: 1px solid #eeeeee;
  box-sizing: border-box; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-project-direction {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.box-project {
  width: 100%;
  background: var(--color1);
  /* border: 1px solid #eeeeee;
  box-sizing: border-box; */
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.box-img-portfolio {
  position: relative;
  overflow: hidden;
}

.link-project-direction:hover .box-img-portfolio::before,
.link-project-direction:hover .text-portfolio-overley {
  transform: translateY(0);
  /* opacity: 1; */
}

.text-portfolio-overley {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;

  padding: 63px 23px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color1);
  background: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */

  transform: translateY(100.5%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* Кнопки portfolio*/
.botton-nav-portfolio {
  cursor: pointer;
  background-color: var(--botton-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  border-radius: 4px;

  padding: 6px 22px;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.botton-nav-portfolio:hover,
.botton-nav-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*Конец main portfolio.html*/
