/* Начало модальное окно */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  /* z-index: 2; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: $color1;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/* Кнопка закрытия */
.button-modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 1; */
  margin: 8px 8px;

  cursor: pointer;
}
.modal-icon-close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:focus .modal-icon-close,
.button-modal-close:hover .modal-icon-close {
  fill: $accent-color;
}

/* Форма модального окна */
.title-modal-form {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form-modal {
  width: 100%;
  height: 100%;

  padding: 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 12px 12px 12px 42px;

  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-icon {
  fill: $accent-color;
}

.form-input:focus {
  border-color: $accent-color;
}

.form-field label {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field-coment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field-coment label {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field-coment textarea {
  resize: none;
  margin: 0;
  padding: 12px;

  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-coment textarea:focus {
  border-color: $accent-color;
}

.form-field-coment textarea::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-policy {
  display: flex;

  margin-bottom: 30px;
}

.checkbox {
  /* Скрываем чекбокс */
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-field-policy {
  position: relative;
}
.label-checkbox {
  display: flex;
  align-items: center;

  margin-left: 22px;
  margin-right: 8px;
  padding: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.modal-icon-checkbox {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #212121;
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: $color1;
}

.checkbox:checked + .modal-icon-checkbox {
  background-color: $accent-color;
  border-color: $accent-color;
}

.link-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.button-modal-submit {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  background-color: $accent-color;
  color: $color1;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-submit:hover,
.button-modal-submit:focus {
  background-color: $botton-accent-color;
}
